body {
    background: rgb(255, 128, 213);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.btn {
    border: 0;
    background: 0;
}

.btn:hover {
    cursor: pointer;
}

.img-center {
    display: flex;
    max-width: 100%;
    height: auto;
    animation: shake 2s infinite;
    user-select: none;
    -webkit-user-drag: none;
}

.evaporate {
    opacity: 0 !important;
    transform: scale(2);
    transition: 0.5s !important;
    pointer-events: none;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(7deg);
    }

    10% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-7deg);
    }

    20% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.modal img {
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 50px;
    -webkit-user-drag: none;
}

.continue-button {
    margin-left: -125px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(243, 52, 138, 0.5);
    color: rgb(255, 255, 255);
}

.continue-button:hover {
    cursor: pointer;
    background-color: rgba(255, 191, 234);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    box-shadow: 0 0 20px 10px rgba(255, 191, 234, 0.75);
    transition: 0.2s;
}

.modal2 {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    user-select: none;
}

.modal2 img {
    width: 500px;
    -webkit-user-drag: none;
}

.text {
    position: absolute;
    color: rgb(119, 81, 63);
    font-size: 65%;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(243, 52, 138);
    transform: rotate(45deg);
    animation: fall 2.5s linear infinite;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(243, 52, 138);
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -10px;
}

@keyframes fall {
    0% {
        top: -50px;
        opacity: 1;
    }

    100% {
        top: 100vh;
        opacity: 0;
        transform: rotate(90deg);
    }
}